<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Aplicación de notas</h1>
  <p class="lead">Una aplicación para administrar notas</p>
  <hr class="my-4" />
  <a class="nav-link" href="/auth/signin"><h3>Iniciar</h3></a>
</div>